@import "mixins";

$c-lightblack: #3f3f46;
$c-black: #232428;
$c-white: #fff;

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: $c-lightblack;
}

div, textarea {
    box-sizing: border-box;
    display: block;
}

#__nuxt {
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;

    & header {
        height: min-content;
        width: 100%;
        background-color: $c-black;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: center;
        @include padding-topbot(12px);
        @include padding-side(18px);
    }
    & header a {
        color: $c-white;
        font-size: 120%;
        text-decoration: none;
        @include margin-side(12px);
        @include hoveropacity(.7);
    }

    & .content-login {
        margin-top: 28px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: min-content;

        & .center {
            width: 420px;
            height: min-content;
            margin: auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    & .content-login .user {
        width: max-content;
        height: min-content;
        margin: auto;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    & .content-login .user h1 {
        color: white;
        font-size: 120%;
        @include margin-side(auto);
    }
    & .content-login input {
        @include margin-topbot(6px);
    }
}